# =========================
# BUILD ARTIFACTS
# =========================

*.o
*.obj
*.exe
*.out
*.a
*.lib


# =========================
# IDE / PROJECT FILES
# =========================

*.layout
*.depend
*.cbp
*.workspace
*.project
*.dev
*.pdf
Makefile.win


# =========================
# TEMP FILES
# =========================

*.tmp
*.log


# =========================
# IGNORE ALL NETPBM IMAGES
# =========================

*.pbm
*.pgm
*.ppm


# =========================
# KEEP TEST FILES
# =========================

!test_p3.ppm
!test_p6.ppm


# =========================
# IGNORE ASSETS FOLDER
# =========================

assets/